In [ ]:
import numpy as np

In [ ]:
C1 = [(1, 1, 1), (1, 1, -1), (1, 0, -1)]
C2 = [(1, -1, -1), (1, -1, 1), (1, 0, 1)]
data= C1+C2
labels=[1,1,1,0,0,0]

**Iteration 1**

In [ ]:
x1=1
x2=1
x3=1
w1=1
w2=0
w3=0
d1=1
print('Desired:',d1)
result= w1*x1+ w2*x2+w3*x3
print('Obtained_Result;',result)
error=d1-result
print ('Error:',error)

Desired: 1
Obtained_Result; 1
Error: 0

**Iteration 2**

In [ ]:
x1=1
x2=1
x3=-1
w4=1
w5=0
w6=0
d2=1
print('Desired:',d2)
result= w4*x4+ w5*x5+w6*x6
print('Obtained_Result;',result)
error=d2-result
print ('Error:',error)

Desired: 1
Obtained_Result; 1
Error: 0

**Iteration 3**

In [ ]:
x7=1
x8=0
x9=-1
w7=1
w8=0
w9=0
d3=1
print('Desired:',d3)
result= w7*x7+ w8*x8+w9*x9
print('Obtained_Result;',result)
error=d3-result
print ('Error:',error)

Desired: 1
Obtained_Result; 1
Error: 0

**Iteration 4**

In [ ]:
x10=1
x11=-1
x12=-1
w10=1
w11=0
w12=0
d4=0
print('Desired:',d4)
result= w10*x10+ w11*x11+w12*x12
print('Obtained_Result;',result)
error=d4-result
print ('Error:',error)

Desired: 0
Obtained_Result; 1
Error: -1

In [ ]:
x10=1
x11=-1
x12=-1

y1=0
desired_1=0
eta=1
theta=0.5


y1=(w1*x10)+(w2*x11)+(x3*w12)
if(y1<=theta):
  y1=0

else:
  y1=1
print('Obtained: ',y1)

if(y1==desired_1):
  print("No Updation needed:")
else:
  print("Updation needed:")


error_1=desired_1-y1
print('error: ',error_1)

w1 = w1 +(eta*error_1*x10)

w2 = w2 + (eta*error_1*x11)

w3 = w3 + (eta*error_1*x12)

print("New weights:")
print(w1)
print(w2)
print(w3)

y1=(w1*x1)+(w2*x2)+(x3*w3)

if(y1<=theta):
  y1=0

else:
  y1=1

print('Obtained: ',y1)

Obtained:  0
No Updation needed:
error:  0
New weights:
-3
4
4
Obtained:  0

**Iteration 5**

In [ ]:
x13=1
x14=-1
x15=1
w13=0
w14=1
w15=1
d5=0
print('Desired:',d5)
result= w13*x13+ w14*x14+w15*x15
print('Obtained_Result;',result)
error=d5-result
print ('Error:',error)

Desired: 0
Obtained_Result; 0
Error: 0

**Iteration 6**

In [ ]:
x16=1
x17=0
x18=1
w16=0
w17=1
w18=1
d5=0
print('Desired:',d5)
result= w16*x16+ w17*x17+w18*x18
print('Obtained_Result;',result)
error=d5-result
print ('Error:',error)

Desired: 0
Obtained_Result; 1
Error: -1

In [ ]:
x16=1
x17=0
x18=1

y1=0
desired_1=0
eta=1
theta=0.5


y1=(w1*x16)+(w2*x17)+(x3*w18)
if(y1<=theta):
  y1=0

else:
  y1=1
print('Obtained: ',y1)

if(y1==desired_1):
  print("No Updation needed:")
else:
  print("Updation needed:")


error_1=desired_1-y1
print('error: ',error_1)

w1 = w1 +(eta*error_1*x1)

w2 = w2 + (eta*error_1*x2)

w3 = w3 + (eta*error_1*x3)
print("New weights:")
print(w1)
print(w2)
print(w3)


y1=(w1*x1)+(w2*x2)+(x3*w3)

if(y1<=theta):
  y1=0

else:
  y1=1

print('Obtained: ',y1)

Obtained:  0
No Updation needed:
error:  0
New weights:
-2
3
3
Obtained:  0